@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    background: #bff0ff;
  }
  
.wrapper {
    display: flex;
    flex-direction: column;
}
  
.container {
    min-height: 100%;
}

.navigationContainer {
    margin: 1px;
}

.dropDownColumn {
    margin-top: 10%;
    margin-bottom: 10%;
}

.suggestions {
    color: black;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(0deg, #b5ffa8, #ffb2a8 50%);
}
