body {
    background: #eee;
  }
  
.wrapper {
    display: flex;
    flex-direction: column;
}
  
.container {
    min-height: 100%;
}

.dropDownColumn {
    margin-top: 10%;
    margin-bottom: 10%;
}